<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="p_guestbook">
	<select id="list" resultType="com.ict.db.P_GuestVO">
		select * from guestbook order by idx
	</select>
	
	<insert id="insert">
		insert into guestbook(idx,name,subject,content,email,pwd,regdate)
   	  		values(guestbook_seq.nextval,#{name},#{subject},#{content},#{email},#{pwd},sysdate)
	</insert>
	
	<select id="detail" parameterType="String" resultType="com.ict.db.P_GuestVO">
		select * from guestbook where idx = #{idx}
	</select>
	
	<update id="update" parameterType="com.ict.db.P_GuestVO">
   		update guestbook
   		set name=#{name}, subject=#{subject}, email=#{email}, content=#{content}
   		where idx=#{idx}
   </update>
   
   <delete id="delete" parameterType="string">
   		delete from guestbook where idx = #{idx}
   </delete>
</mapper>
